*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: #f4e4ba;
    

}
.container{
    background-color: #ffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: auto;
    width: auto;
}
form{
    margin: 2rem 0 1rem 0;
}
select, input  ,form{
    width:100%;
    border:none;
    outline:none;
    border-radius: 0.75rem;

} 
form input{
    border: 1px solid lightgrey;
    font-size: 1rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.dropdown i{
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-container img{
    max-width:2rem ;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 0.5rem;
    border:1px solid lightgrey;
    
}
.select-container select{
    width: auto;
    
    font-size: 1rem;
}
.msg{
    margin: 2rem  0   2rem  0;

}
form button{
    height: 3rem;
    width: 100%;
    border-radius: 1rem;
    background-color: #af4d98;
    color: #ffff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
